<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MoviewebApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Movie Web App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="btn btn-primary" type="button" href="/watchlist">Watchlist</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" type="button" href="/movies">Home</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" type="button" href="/user/">Account</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-primary" type="button" href="/logout">Logout</a>


        </ul>

    </div>
    </div>
</nav>
<div class="container">
    <h1 class="text-center my-4">Watchlist</h1>

    <table class="table">
        <thead>
        <tr>

            <!--            <th>ID</th>-->
            <th>Movie Poster</th>
            <th>Title</th>
            <th>Director</th>
            <th>Category</th>
            <th>Rate</th>
            <!--            <th>Created At</th>-->
            <th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <!--            <td th:text="${movie.id}"></td>-->
            <td>
                <img th:src="@{'/images/' + ${movie.imageFileName}}"
                     alt="..." width="100">
            </td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.director}"></td>
            <td th:text="${movie.category}"></td>
            <td th:text="${movie.rate}"></td>
            <!--            <td th:text="${movie.createdAt}"></td>-->

            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm"
                   th:href="@{/movies/watchlist(id=${movie.id})}">Add To Watchlist</a>
                <a class="btn btn-primary btn-sm"
                   th:href="@{/movies/edit(id=${movie.id})}">Edit</a>
                <a class="btn btn-danger btn-sm"
                   th:href="@{/movies/delete(id=${movie.id})}"
                   onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>

